[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    labpdfproc/_version.py,
    doc/manual/source/conf.py
max-line-length = 115
# Ignore some style 'errors' produced while formatting by 'black'
ignore = W503, E231, E271, E272
